USE [DbSinavOgrenci]
GO
/****** Object:  Table [dbo].[TBLDERSLER]    Script Date: 19.09.2022 14:25:37 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TBLDERSLER](
	[DERSID] [int] IDENTITY(1,1) NOT NULL,
	[DERSAD] [varchar](50) NULL,
 CONSTRAINT [PK_TBLDERSLER] PRIMARY KEY CLUSTERED 
(
	[DERSID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TBLHOBBYCLUBS]    Script Date: 19.09.2022 14:25:37 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TBLHOBBYCLUBS](
	[HOBBYCLUBID] [int] IDENTITY(1,1) NOT NULL,
	[HOBBYCLUBNAME] [varchar](50) NULL,
 CONSTRAINT [PK_TBLHOBBYCLUBS] PRIMARY KEY CLUSTERED 
(
	[HOBBYCLUBID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TBLNOTLAR]    Script Date: 19.09.2022 14:25:37 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TBLNOTLAR](
	[NOTID] [int] IDENTITY(1,1) NOT NULL,
	[OGR] [int] NULL,
	[DERS] [int] NULL,
	[SINAV1] [smallint] NULL,
	[SINAV2] [smallint] NULL,
	[SINAV3] [smallint] NULL,
	[ORTALAMA] [decimal](5, 2) NULL,
	[DURUM] [bit] NULL,
 CONSTRAINT [PK_TBLNOTLAR] PRIMARY KEY CLUSTERED 
(
	[NOTID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TBLOGRENCI]    Script Date: 19.09.2022 14:25:37 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TBLOGRENCI](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[AD] [varchar](20) NULL,
	[SOYAD] [varchar](20) NULL,
	[FOTOGRAF] [varchar](100) NULL,
 CONSTRAINT [PK_TBLOGRENCI] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[TBLDERSLER] ON 

INSERT [dbo].[TBLDERSLER] ([DERSID], [DERSAD]) VALUES (1, N'ALGORİTMA VE PROGRAMLAMA')
INSERT [dbo].[TBLDERSLER] ([DERSID], [DERSAD]) VALUES (2, N'VERİ MADENCİLİĞİ')
INSERT [dbo].[TBLDERSLER] ([DERSID], [DERSAD]) VALUES (3, N'YAZILIM TESTLERİ')
SET IDENTITY_INSERT [dbo].[TBLDERSLER] OFF
GO
SET IDENTITY_INSERT [dbo].[TBLNOTLAR] ON 

INSERT [dbo].[TBLNOTLAR] ([NOTID], [OGR], [DERS], [SINAV1], [SINAV2], [SINAV3], [ORTALAMA], [DURUM]) VALUES (1, 1, 1, 65, NULL, NULL, NULL, NULL)
INSERT [dbo].[TBLNOTLAR] ([NOTID], [OGR], [DERS], [SINAV1], [SINAV2], [SINAV3], [ORTALAMA], [DURUM]) VALUES (2, 2, 1, 85, NULL, NULL, NULL, NULL)
INSERT [dbo].[TBLNOTLAR] ([NOTID], [OGR], [DERS], [SINAV1], [SINAV2], [SINAV3], [ORTALAMA], [DURUM]) VALUES (3, 3, 1, 96, NULL, NULL, NULL, NULL)
SET IDENTITY_INSERT [dbo].[TBLNOTLAR] OFF
GO
SET IDENTITY_INSERT [dbo].[TBLOGRENCI] ON 

INSERT [dbo].[TBLOGRENCI] ([ID], [AD], [SOYAD], [FOTOGRAF]) VALUES (1, N'ALİ', N'ÖZYILDIZ', N'DENEME')
INSERT [dbo].[TBLOGRENCI] ([ID], [AD], [SOYAD], [FOTOGRAF]) VALUES (2, N'MEHMET', N'ÖZTÜRK', NULL)
INSERT [dbo].[TBLOGRENCI] ([ID], [AD], [SOYAD], [FOTOGRAF]) VALUES (3, N'EMEL', N'YILDIRIM', NULL)
SET IDENTITY_INSERT [dbo].[TBLOGRENCI] OFF
GO
ALTER TABLE [dbo].[TBLNOTLAR]  WITH CHECK ADD  CONSTRAINT [FK_TBLNOTLAR_TBLDERSLER] FOREIGN KEY([DERS])
REFERENCES [dbo].[TBLDERSLER] ([DERSID])
GO
ALTER TABLE [dbo].[TBLNOTLAR] CHECK CONSTRAINT [FK_TBLNOTLAR_TBLDERSLER]
GO
ALTER TABLE [dbo].[TBLNOTLAR]  WITH CHECK ADD  CONSTRAINT [FK_TBLNOTLAR_TBLOGRENCI] FOREIGN KEY([OGR])
REFERENCES [dbo].[TBLOGRENCI] ([ID])
GO
ALTER TABLE [dbo].[TBLNOTLAR] CHECK CONSTRAINT [FK_TBLNOTLAR_TBLOGRENCI]
GO
/****** Object:  StoredProcedure [dbo].[NOTLIST]    Script Date: 19.09.2022 14:25:37 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[NOTLIST] 
AS
select NOTID,AD+' '+ SOYAD AS 'Name-Surname',DERSAD,SINAV1,SINAV2,SINAV3,ORTALAMA,DURUM from TBLNOTLAR 
inner join TBLOGRENCI on TBLNOTLAR.OGR=TBLOGRENCI.ID 
inner join TBLDERSLER on TBLNOTLAR.DERS=TBLDERSLER.DERSID
GO
